<div id="map" style="width: 100%; height: {{if (and hasDeviceFilter @task) "70%" "100%"}}">
  <TaskLayer @task={{@task}}/>

  <AircraftShadowLayer/>
  <AircraftLayer/>

  {{#if (not (media "isStandalone"))}}
    <FullscreenButton @map={{this.map}}/>
  {{/if}}

  {{#if (not (media "coarsePointer"))}}
    <ZoomButtons @map={{this.map}}/>
  {{/if}}
</div>