body {
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.scores-wrapper {
  overflow: auto;
  border-top: 1px solid #666;
}

:global(.top-centered) {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%, 0);
}
