.score-table {
  width: 100%;

  border-collapse: collapse;

  font-size: 14px;
}

.score-table tr:nth-child(even) {
  background: #f3f3f3;
}

.score-table tr:hover {
  background: #e3e3e3;
}

.score-table td,
.score-table th {
  padding: 4px;
}
