<Map @task={{this.scoring.task}}/>
{{#if loadDataTask.isRunning}}
  <Notification @text={{if (media "isMobile") "Loading..." "Loading task and competitor list..."}}/>
{{else}}
  {{#if (and hasDeviceFilter this.scoring.task)}}
    <div class="scores-wrapper">
      <ScoreTable @task={{this.scoring.task}}/>
    </div>
  {{/if}}
{{/if}}